.App {
  background-color: #282c34;
  background-image: url("https://www.seekpng.com/png/full/373-3737336_uber-clipart.png");
  background-size: 30vw;
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 100vh;
  overflow: scroll;
}