.navbar {
    background: linear-gradient(to right bottom, rgba(110, 110, 110, 0.5), rgba(110, 110, 110, 0.171));

    div {
        display: flex;
        height: 6vh;
        width: 80vw;
        margin: auto;
        justify-content: space-between;

        a {
            display: flex;
            height: 100%;
            margin: 0 10px;
            align-items: center;
            color: #d2d5df;
            text-decoration: none;
        }

        .nav-menu {
            display: flex;
            list-style-type: none;

            li {
                display: flex;
                align-items: center;
                padding: 0 2vw;
                transition: all 300ms 50ms ease-in-out;
                color: whitesmoke;
            }

            li:hover {
                // background-color: #3e4450b9;
                box-shadow: 0 2px 0px 0px #ffffffb9;
                font-weight: 600;
                cursor: pointer;
            }

            .logout {
                color: red;
            }

            .logout:hover {
                box-shadow: 0 2px 0px 0px red;
            }

        }
    }
}

.form {
    background-color: rgba(110, 110, 110, 0.123);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5vh;
    text-align: center;
    border-radius: 2em;
    background: linear-gradient(to right bottom, rgba(46, 46, 46, 0.767), rgba(56, 56, 56, 0.911));

    &-login {
        height: 30vh;
        width: 15vw;

        label {
            color: white;
        }

        input {
            color: white;
        }
    }

    &-registration {
        height: 60vh;
        width: 25vw;

        label {
            color: white;
        }

        input {
            color: white;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        button {
            margin-bottom: 5px;
        }
    }
}