#trip {
    .trip-filter {
        display: flex;
        background: linear-gradient(to right bottom, rgba(110, 110, 110, 0.5), rgba(110, 110, 110, 0.171));
        box-shadow: 0 0 3px 1px #1c2120;
        padding: 2vh;
        margin: 2vh 0;
        border-radius: 1em;
        align-items: flex-end;
        justify-content: space-evenly;

        input {
            text-align: center;
            color: white;
        }

        label {
            color: whitesmoke;
        }
    }

    .trip-main {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .trip-list {
            display: flex;
            flex-direction: column;
            background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.171));
            box-shadow: 0 0 3px 1px #1c2120;
            padding: 2%;
            margin: 1vh 0;
            border-radius: 1em;
            align-items: center;

            &-head {
                display: flex;
                justify-content: space-around;
                width: 100%;
                border-bottom: solid #626264 2px;
                margin-bottom: 1vh;
                padding-bottom: 1vh;
            }

            &-body {
                display: flex;
                width: 100%;
                align-items: center;

                &>.image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 1;
                    overflow: hidden;

                    &>img {
                        width: 6vh;
                    }
                }

                &>.details {
                    flex: 4;
                }

                &>.contribute {
                    flex: 1;

                    &>h2,
                    &>h4 {
                        text-align: right;
                    }
                }
            }

            &-foot {
                display: flex;
                flex: 3;
                text-align: center;
                width: 100%;
                border-top: solid #626264 2px;
                margin-top: 1vh;
                padding-top: 1vh;
                justify-content: flex-end;
            }
        }
    }

}

.trip-detail {
    &-title {
        color: whitesmoke !important;
    }

    .details {
        display: flex;
        padding: 2vh;
        margin: 2vh 0;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.171));

        &-left {
            flex: 1;

            &>img {
                width: 17vw;
            }
        }

        &-right {
            flex: 2;
        }
    }

    .feedback {
        padding: 2vh;
        margin: 2vh 0;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.171));
    }
}

#trip>div.trip-filter>div>div::after {
    border-bottom: red !important;
}

body>div.MuiDialog-root>div.MuiDialog-container.MuiDialog-scrollPaper>div>div.MuiDialogContent-root.MuiPickersModal-dialog>div>div.MuiToolbar-root.MuiToolbar-regular.MuiPickersToolbar-toolbar.MuiPickersDatePickerRoot-toolbar.MuiToolbar-gutters,
body>div.MuiDialog-root>div.MuiDialog-container.MuiDialog-scrollPaper>div>div.MuiDialogContent-root.MuiPickersModal-dialog>div>div.MuiPickersBasePicker-pickerView>div.MuiPickersSlideTransition-transitionContainer.MuiPickersCalendar-transitionContainer>div>div:nth-child(2)>div:nth-child(4)>button {
    background-color: #1a2f1e
}

body>div.MuiDialog-root>div.MuiDialog-container.MuiDialog-scrollPaper>div>div.MuiDialogActions-root.MuiDialogActions-spacing>button>span.MuiButton-label {
    color: #282c34
}